{% extends 'studentinfo/base.html' %}

{% block content %}

	<!-- Bootstrap container block to display a centered title for the dashboard. -->
	<div class="container-fluid text-center mt-3">
		<h2>Student Information Dashboard</h2>
	</div>	
	
	<!-- Bootstrap container block for the Overall Statistics and Students by Class sections of the dashboard. -->
	<div class="container-fluid mt-5">
		<div class=row>
			<!-- First column of the container block is size 6 and displays the Overall Statistics section. -->
			<div class="col-sm-6">
				<h3>Overall Statistics</h3>
				<!-- Display the number of enrolled students, offered courses, and enrollments and the average GPA returned by the dashboard function. -->
				<h5>Number of enrolled students: {{ numstudents }}</h5>
				<h5>Number of offered courses: {{ numcourses }}</h5>
				<h5>Number of enrollments: {{ numenrollments }}</h5>
				<!-- Format the average GPA to two decimal places. -->
				<h5>Average Student GPA: {{ avggpa.Average_GPA|floatformat:2 }}</h5>
			</div>
			<!-- Second column of the container block is size 6 and displays the Students by Class section. -->
			<div class="col-sm-6">
				<h3>Students by Class</h3>
				<!-- Display the number of Students by Class returned by the dashboard function. -->
				<h5>Number of Freshmen: {{ numfreshmen }}</h5>
				<h5>Number of Sophomores: {{ numsophomores }}</h5>
				<h5>Number of Juniors: {{ numjuniors }}</h5>
				<h5>Number of Seniors: {{ numseniors }}</h5>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap container block for the Top Three Enrolled Classes and Students by Major sections of the dashboard. -->
	<div class="container-fluid mt-5">
		<div class=row>
			<!-- First column of the container block is size 6 and displays the Top Three Enrolled Classes section. -->
			<div class="col-sm-6">
				<h3>Top Three Enrolled Classes</h3>
				<!-- Define a table to list the top three classes in the Coursedetails table bases on the number of students enrolled. -->
				<table class="table table-bordered">
				<thead class="table-dark">
					<tr>
						<th> Course Title </th>
						<th> Course Name </th>
						<th> Students Enrolled </th>
					</tr>
				</thead>
				<tbody>
					<!-- For loop to iterate through the coursedata Django query results from the dashboard function. -->
					{% for row in coursedata %}
					<tr>
						<td>{{ row.coursetitle }}</td>
						<td>{{ row.coursename }}</td>
						<td>{{ row.studentsenrolled }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			<!-- Second column of the container block is size 6 and displays the Students by Major section. -->
			<div class="col-sm-6">
				<h3>Students by Major</h3>
				<!-- Display a bar chart showing the count of Students by Major. -->
				<div>
					<canvas id="mycanvas" width="300px" height="100px"></canvas>
				</div>
			</div>
		
		</div>
	</div>
	
	<!-- Link to Chart.js JavaScript charting library. -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
	
	<!-- JQuery script to create a bar chart to show Students by Major. -->
	<script>
		let mychart = document.getElementById("mycanvas")
		let newchart = new Chart(mychart, {
		
			// Select the bar chart type
			type: 'bar',
			// Retrieve the counts of students by major from the dashboard function to populate the chart.
			data: {
				labels: ["Chemistry", "I.T.", "Marketing", "Physics", "Stats"],
				datasets: [{
					label: "Students by Major",
					data: [{{ chemistry }}, {{ it }}, {{ marketing }}, {{ physics }}, {{ stats }}],
					// Select green color for the bars.
					backgroundColor: ['rgb(51, 255, 53, 0.8)']
				}]
				
			},
			// Set various chart options
			options: {
				scales: {
					y: {
						ticks: {
							beginAtZero: true,
							stepSize:1
						}
					}
				}
			}
			
		})
	</script>

{% endblock %}