{% extends 'studentinfo/base.html' %}

{% block content %}

	<!-- Bootstrap container block that displays two drop down boxes to select the student and the course. -->
	<div class="container text-center mt-5">
		<div class="row">
			<div class="col-md">
				<!-- Display drop down box to select the student. -->
				<select class="form-select" id="studentselect">
					<!-- Use a for loop to iterate through the student Django query result from the enrollment function. -->
					{% for row in student %}
					<option value="{{ row.firstname }} {{ row.lastname }}">{{ row.firstname }} {{ row.lastname }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md">
				<!-- Display drop down box to select the course. -->
				<select class="form-select" id="courseselect">
					<!-- Use a for loop to iterate through the course Django query result from the enrollment function. -->
					{% for row in course %}
					<option value="{{ row.coursetitle }}">{{ row.coursetitle }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap container block to display the enroll button to allow the user to enroll the selected student into the course. -->
	<div class="container-fluid text-center mt-5">
		<button class="btn btn-primary" id="btnenroll">Enroll</button>
	</div>
	
	<!-- Bootstrap container block to display an error message if unable to enroll student in selected class. -->
	<div class="container-fluid text-center mt-5">
		<h4 id="firsth4"></h4>
	</div>
	
	<!-- Bootstrap container block with a table that shows the current enrollments. -->
	<div class="container-fluid text-center mt-5">
		<!-- Define a table to list the enrollments in the Enrollmentdetails table. -->
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Student Name</th>
					<th>Course Title</th>
				</tr>
			</thead>
			<tbody>
				<!-- For loop to iterate through the enrollment Django query results from the enrollment function. -->
				{% for row in enrollment %}
				<tr>
					<td>{{ row.studentname }}</td>
					<td>{{ row.coursetitle }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<!-- JQuery script to accept the selected student and course and to capture the enrollment in the Enrollmentdetails table. -->
	<script>
		$('document').ready(function() {
		
			// JQuery code to capture the selected student and course, upon clicking the enroll button 
			$('#btnenroll').click(function() {
			
				let selected_student = $('#studentselect').val()
				let selected_course = $('#courseselect').val()
				
				// Asynchronous JQuery code to call the saveenrollment function and complete the enrollment request.
				$.ajax({
				
					url: "{% url 'saveenrollment' %}",
					data: {
						studentdata: selected_student,
						coursedata: selected_course
					},
					
					// If the saveenrollment function returns a success message, refresh the page.
					success:function(data){
					
						if(data == "success"){
							/* refresh the page */
							window.location = "{% url 'enrollment' %}"
						}
						// If the saveenrollment function returns an error message, display the below error to the user.
						else {
						
							$("#firsth4").html("Error enrolling the class. Student is either already enrolled in the class selected or is already enrolled in 3 classes")
						}
						
					}
					
				})
				
			})
			
		})
	</script>

{% endblock %}