{% extends 'studentinfo/base.html' %}

{% block content %}
		<!-- Bootstrap container block with a table that shows the current students. -->
		<div class="container-fluid">
			<h2>Student details</h2>
			<!-- Define a table to list the students in the Studentdetails table. -->
			<table class="table table-bordered">
				<thead class="table-dark">
					<tr>
						<th> Student First Name </th>
						<th> Student Last Name </th>
						<th> Student Major </th>
						<th> Student Year </th>
						<th> Student GPA </th>
					</tr>
				</thead>
				<tbody>
					<!-- For loop to iterate through the studentdata Django query results from the studentdetails function. -->
					{% for row in studentdata %}
					<tr>
						<td>{{ row.firstname }}</td>
						<td>{{ row.lastname }}</td>
						<td>{{ row.major }}</td>
						<td>{{ row.year }}</td>
						<td>{{ row.gpa }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
			<!-- Use a paginator object from the Paginator class that displays ten students at a time. -->
			<div class="pagination">
				<!-- Use navigation controls to direct the user through the pages. -->
				<span class"step-links">
					{% if studentdata.has_previous %}
					<a href="?page=1">First</a>
					<a href="?page={{ studentdata.previous_page_number }}">Previous</a>
					{% endif %}
					
					Page {{ studentdata.number }} of {{ studentdata.paginator.num_pages }}
					
					{% if studentdata.has_next %}
					<a href="?page={{ studentdata.next_page_number }}">Next</a>
					<a href="?page={{ studentdata.paginator.num_pages }}">Last</a>
					{% endif %}
				</span>
			</div>
			
		</div>	

{% endblock %}